<VictoryChart
  events={[{
    childName: ["area-1", "area-2"],
    target: "data",
    eventHandlers: {
      onClick: () => {
        return [
          {
            childName: ["area-3", "area-4"],
            target: "data",
            mutation: (props) => {
              const fill = props.style.fill;
              return fill === "gold" ? null : {style: {fill: "gold"}};
            }
          }
        ];
      }
    }
  }]}
>
  <VictoryStack>
    <VictoryArea name="area-1"
                 data={[{x: "a", y: 2}, {x: "b", y: 3}, {x: "c", y: 5}]}
    />
    <VictoryArea name="area-2"
                 data={[{x: "a", y: 1}, {x: "b", y: 4}, {x: "c", y: 5}]}
    />
    <VictoryArea name="area-3"
                 data={[{x: "a", y: 3}, {x: "b", y: 2}, {x: "c", y: 6}]}
    />
    <VictoryArea name="area-4"
                 data={[{x: "a", y: 2}, {x: "b", y: 3}, {x: "c", y: 3}
                 ]}
    />
  </VictoryStack>
</VictoryChart>
